*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Bitter', serif;
}

.container{
    width: 80%;
    height: 450px;
    position: relative;
    margin: 100px auto;
    overflow: hidden;
}

.btn-header{
    display: flex;
    border-bottom: 1px solid #cccccc;
}

button{
     background: transparent;
     border: none;
     outline:none;
     cursor: pointer;
     margin-right: 50px;
     padding: 14px 16px;
     font-size: 20px;
     font-weight: bold;
}
button .fab  {
    margin-right: 20px;
}

button:hover {
    color: #ff7846;
}
.content-right img{
    width: 350px;
}

.first-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5% auto;
    position: absolute;
    transform: translateX(100%);
    transition: 0.3s;
}

.content-right{
    /* width: 30%; */
    flex-basis: 30%;
    
}

.content-left{
    /* width: 60%; */
    flex-basis: 50%;
    text-align: justify;
}

.content-left h1{
    font-size: 18px;
    font-weight: bold;
}

.content-left p{
    font-size: 16px;
    padding: 30px 0;
}

.content-left a{
    display: table-cell;
    width: 150px;
    border-radius: 20px;
    text-decoration: none;
    background-color: #ff7846;
    vertical-align: middle;
    padding: 8px 5px;
    color: white;
    text-align: center;
}

.content-left a:hover{
    background-color:black;
    color:  #ff7846;
   
}

#html{
    transform: translateX(0px);
}


#btn1{
    color: #ff7846;
}